@import "../../assets/Fonts/Fonts";
@import "../../assets/breakpoints/breakpoints";

.wallpaper-background {
  position: relative;
  margin-top: -10vh;
  background-image: url("../assets/imgs/wallpaper.jpg");

  /* Set a specific height */
  height: 100vh;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include smartphone-portrait {
    margin-top: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.537);
    z-index: -1;
  }

  & p {
    line-height: 22px;
    text-align: center;
    @include hero-info();
  }
}
.add-margin-top {
  margin-top: 20px;
}
.title-border {
  border: 2px solid white;
  margin-top: 11vh;
  margin-bottom: 2vh;
  padding: 65px;
  @include smartphone-portrait {
    margin-top: 5vh;
    margin-bottom: 7vh;
    padding: 30px;
  }
  & h1 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    @include hero-title();
    width: 245px;
    @include smartphone-portrait {
      font-size: 41px;
      width: 143px;
    }
  }
}

.ctn-icon {
  animation: jump-arrow 2.5s infinite;
  bottom: 0;
  color: #ffffff;
  display: block;
  font-size: 2.5em;
  height: 1.5em;
  left: 50%;
  line-height: 1.5em;
  position: absolute;
  text-align: center;
  transform: translatex(-50%);
  width: 1.5em;
  border: none;
  outline: none;
  background: transparent;
  z-index: 99;
  cursor: pointer;
}

.ctn-icon:hover {
  color: rgba(0, 0, 0, 0.7);
}

@keyframes jump-arrow {
  0%,
  20%,
  55%,
  80%,
  100% {
    transform: translate3d(-50%, 0, 0);
  }

  40% {
    transform: translate3d(-50%, -15px, 0);
  }

  70% {
    transform: translate3d(-50%, -10px, 0);
  }

  90% {
    transform: translate3d(-50%, -5px, 0);
  }
}
